In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

### Reading the data

In [2]:
data = pd.read_csv('Data_for_UCI_named.csv')
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

### Checking the data size

In [3]:
data.shape

(10000, 14)

### Checking for missing values in data

In [4]:
data.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

### Data Statistics

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [6]:
data.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [7]:
data.corr()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
tau1,1.000000,0.015586,-0.005970,-0.017265,0.027183,-0.015485,-0.015924,-0.015807,0.010521,0.015350,-0.001279,0.005494,0.275761
tau2,0.015586,1.000000,0.014273,-0.001965,-0.004769,0.006573,0.007673,-0.005963,-0.001742,0.015383,0.016508,-0.011764,0.290975
tau3,-0.005970,0.014273,1.000000,0.004354,0.016953,-0.003134,-0.008780,-0.017531,-0.011605,0.007671,0.014702,-0.011497,0.280700
tau4,-0.017265,-0.001965,0.004354,1.000000,-0.003173,0.010553,0.006169,-0.011211,-0.004149,0.008431,0.003260,-0.000491,0.278576
p1,0.027183,-0.004769,0.016953,-0.003173,1.000000,-0.573157,-0.584554,-0.579239,0.000721,0.015405,0.001069,-0.015451,0.010278
p2,-0.015485,0.006573,-0.003134,0.010553,-0.573157,1.000000,0.002388,-0.006844,0.015603,-0.018032,0.007555,0.019817,0.006255
p3,-0.015924,0.007673,-0.008780,0.006169,-0.584554,0.002388,1.000000,0.012953,-0.003219,-0.011575,-0.005897,-0.010485,-0.003321
p4,-0.015807,-0.005963,-0.017531,-0.011211,-0.579239,-0.006844,0.012953,1.000000,-0.013636,0.002850,-0.003515,0.017505,-0.020786
g1,0.010521,-0.001742,-0.011605,-0.004149,0.000721,0.015603,-0.003219,-0.013636,1.000000,0.007559,-0.005836,0.012431,0.282774
g2,0.015350,0.015383,0.007671,0.008431,0.015405,-0.018032,-0.011575,0.002850,0.007559,1.000000,-0.012809,-0.014909,0.293601
g3,-0.001279,0.016508,0.014702,0.003260,0.001069,0.007555,-0.005897,-0.003515,-0.005836,-0.012809,1.000000,0.006900,0.308235
g4,0.005494,-0.011764,-0.011497,-0.000491,-0.015451,0.019817,-0.010485,0.017505,0.012431,-0.014909,0.006900,1.000000,0.279214
stab,0.275761,0.290975,0.280700,0.278576,0.010278,0.006255,-0.003321,-0.020786,0.282774,0.293601,0.308235,0.279214,1.000000

In [8]:
data.stabf.value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [9]:
data.stabf.unique()

array(['unstable', 'stable'], dtype=object)

## Data Preprocessing

### Dropping irrelevant data as requested in task

In [10]:
data = data.drop(columns=['stab'])

### Seperating predictor features from target

In [11]:
X = data.drop(columns =['stabf'])
y = data.stabf

### Label Encoding the target (categorical) to numerical

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
# encoder = LabelEncoder()
# y = pd.DataFrame(encoder.fit_transform(y.reset_index(drop=True)))

In [14]:
# #label encoding for the categorical data of column 'stabf'
# from sklearn.preprocessing import LabelEncoder
# encoder = LabelEncoder()
# y_train =pd.DataFrame(encoder.fit_transform(y_train.reset_index(drop=True)), columns=y_train.columns)
# y_test = pd.DataFrame(encoder.transform(y_test.reset_index(drop=True)),columns=y_test.columns)

In [15]:
# y.head(10)

In [16]:
data.head(10)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable
5,6.999209,9.109247,3.784066,4.267788,4.429669,-1.857139,-0.670397,-1.902133,0.261793,0.077930,0.542884,0.469931,stable
6,6.710166,3.765204,6.929314,8.818562,2.397419,-0.614590,-1.208826,-0.574004,0.177890,0.397977,0.402046,0.376630,unstable
7,6.953512,1.379125,5.719400,7.870307,3.224495,-0.748998,-1.186517,-1.288980,0.371385,0.633204,0.732741,0.380544,unstable
8,4.689852,4.007747,1.478573,3.733787,4.041300,-1.410344,-1.238204,-1.392751,0.269708,0.250364,0.164941,0.482439,stable
9,9.841496,1.413822,9.769856,7.641616,4.727595,-1.991363,-0.857637,-1.878594,0.376356,0.544415,0.792039,0.116263,unstable

### Splitting the predictor features and response into train and test sets

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)

In [18]:
#label encoding for the categorical data of column 'stabf'
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train =pd.DataFrame(encoder.fit_transform(y_train.reset_index(drop=True)))
y_test = pd.DataFrame(encoder.transform(y_test.reset_index(drop=True)))

In [19]:
y_train.value_counts()

1    5092
0    2908
dtype: int64

In [20]:
y_test.value_counts()

1    1288
0     712
dtype: int64

In [21]:
# X_train.value_counts()

In [22]:
# X_test.value_counts()

### Standardizing the X_train and X_test data

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_X_train=pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
scaled_X_test=pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [24]:
scaled_X_train.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.367327,-0.986042,0.650447,1.547527,-0.291490,0.061535,1.293862,-0.845074,0.160918,0.339859,0.585568,0.492239
1,-0.064659,0.089437,1.035079,-1.641494,0.619865,-0.067235,-1.502925,0.486613,-0.293143,-1.558488,1.429649,-1.443521
2,-1.467850,1.298418,-0.502536,1.166046,-0.180521,0.490603,0.682560,-0.855302,1.399350,1.451534,-1.045743,0.492489
3,0.820081,0.529920,1.299657,-1.141975,-0.812854,-0.763632,1.521579,0.658780,-0.958319,1.361958,1.604140,0.275303
4,0.665424,-1.425627,0.312300,0.919137,-1.614296,0.760315,1.422019,0.639243,1.676895,0.695660,1.137504,-1.312575

In [25]:
scaled_X_train.shape

(8000, 12)

In [26]:
scaled_X_test.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.593951,-0.412733,1.503924,1.116943,0.403423,-1.492971,-0.785033,1.566781,-0.901007,1.167203,-1.507330,1.084726
1,0.202190,0.374416,-0.188800,-0.522268,-0.225967,-1.058483,0.420047,1.028627,-1.625721,-0.395660,1.414651,1.226011
2,-1.079044,-0.313745,-0.884634,0.017080,-0.943122,0.112653,0.801335,0.733004,1.457108,-1.438495,0.651821,-1.682168
3,-0.083120,-1.107327,0.372805,-1.708152,0.753990,-1.637972,0.403805,-0.088036,0.083322,-1.672322,-0.357714,1.055865
4,0.873921,1.438466,0.086662,1.715037,-0.153880,-0.007015,-0.197053,0.472315,0.136549,-1.469731,0.956396,-0.819727

In [27]:
scaled_X_test.shape

(2000, 12)

#### TP = True Positive
#### TN = True Negative
#### FP = False Positive
#### FN = False Negative

### Que 1 Answer - B and D

### Que 2 Answer - B

### Que 3
Features Importance

In [28]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

In [29]:
# importing extra tree classifier
from sklearn.ensemble import ExtraTreesClassifier
etc = ExtraTreesClassifier(random_state=1)

#fit train set
etc.fit(scaled_X_train, y_train)

# predict test set
etc_pred = etc.predict(scaled_X_test)

# accuracy of test set
etc_accuracy = accuracy_score(y_true=y_test, y_pred=etc_pred)
print(f'Accuracy for Extra Tree Classifier is {etc_accuracy}')

features_importance = pd.DataFrame(etc.feature_importances_, index=X.columns)
features = features_importance.sort_values(0)

# most important feature
print(f'The most important feature is {features.idxmax()}','\n')

# least important feature
print(f'The least important feature is {features.idxmin()}')

<ipython-input-29-bf4bf0b154f7>:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  etc.fit(scaled_X_train, y_train)

Accuracy for Extra Tree Classifier is 0.928
The most important feature is 0    tau2
dtype: object

The least important feature is 0    p1
dtype: object

### Que 4 Answer - C

### Que 5

In [30]:
TP = 255
TN = 20
FP = 1380
FN = 45
precision = TP / (TP + FP)
recall = TP / (TP + FN)
f1_score =  round(2 * ((precision* recall)/(precision+recall)),4)
f1_score

0.2636

### Que 6
XGBoost classifier

In [31]:
#importing XGBoost classifier
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state=1)

#fit train set
xgb.fit(scaled_X_train, y_train)

# predict test set
xgb_pred = xgb.predict(scaled_X_test)

# accuracy of test set
xgb_accuracy = accuracy_score(y_true=y_test, y_pred=xgb_pred)

print(f'Accuracy for XGBoost classifier is : {xgb_accuracy}')

C:\Anaconda\envs\TensorFlow\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Anaconda\envs\TensorFlow\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[19:38:06] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy for XGBoost classifier is : 0.9455

### Que 7 Answer - D

### Que 8 Answer - Grid Search

### Que 9 Answer - A

### Que 10
LGBM classifier

In [32]:
#importing LGBM classifier
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier(random_state=1)

#fit train set
lgbm.fit(scaled_X_train, y_train)

# predict test set
lgbm_pred = lgbm.predict(scaled_X_test)

# accuracy of test set
lgbm_accuracy = accuracy_score(y_true=y_test, y_pred=lgbm_pred)
print(f'Accuracy for LGBM classifier is : {lgbm_accuracy}')

C:\Anaconda\envs\TensorFlow\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Accuracy for LGBM classifier is : 0.9395

### Que 11
Random Forest classifier

In [33]:
#importing Random Forest classifier

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=1)

#fit train set
rfc.fit(scaled_X_train, y_train)

# predict test set
rfc_pred = rfc.predict(scaled_X_test)

# accuracy of test set
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix
rfc_accuracy = accuracy_score(y_true=y_test, y_pred=rfc_pred)
print(f'Accuracy for Random Forest classifier is : {rfc_accuracy}')

<ipython-input-33-1e88564f116b>:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(scaled_X_train, y_train)

Accuracy for Random Forest classifier is : 0.929

### Que 12 Answer - D
Best hyperparameters from the randomized search CV

In [34]:
# range of parameters to find the best hyperparameters
n_estimators = [50, 100, 300, 500, 1000]
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None]

hyperparameter_grid = {'n_estimators': n_estimators,
                       'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}

#importing Random Search CV
from sklearn.model_selection import RandomizedSearchCV
rsc =  RandomizedSearchCV(etc,hyperparameter_grid, cv=5, n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1, random_state = 1)

#fit train set
r_searchCV = rsc.fit(scaled_X_train, y_train)

# best hyperparameters from the randomized search CV
r_searchCV.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Anaconda\envs\TensorFlow\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

### Que 13 Answer - C

### Que 14 Answer - D

### Que 15 Answer - D

### Que 16 Answer - D

### Que 17 Answer - B

### Que 18 Answer - C

### Que 19 Answer - D

### Que 20 Answer - A